* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  margin: 0;
  padding: 0;
  color: #f4d58d;
}
.mainframe {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
  background-color: #15293c;
}
.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav_header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.img_logo {
  width: 96px;
  height: 96px;
}
.nav_menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav_list {
  list-style: none;
  display: inline-flex;
}
.nav_item {
  padding: 0 24px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}
.nav_item-other {
  padding: 0 24px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  opacity: 0.4;
}
.nav_icon {
  display: flex;
  justify-content: center;
  column-gap: 32px;
  cursor: pointer;
}
.info_frame {
  padding-top: 48px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.title_title {
  font-size: 48px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.frame_img {
  padding-top: 48px;
  width: 90%;
}
.frame_gird-larger {
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  column-gap: 4%;
  grid-template-rows: auto auto auto;
}
.frame_gird-low {
  display: flex;
}
.name_product,
.cash_product {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 8px 0px;
}
.cash_product {
  color: #f4d58d;
}
.frame_fixed {
  background-color: hsla(0, 0%, 100%, 0.2);
  position: fixed;
  width: 6%;
  top: 150px;
  left: 0;
  min-height: 400px;
  height: 60%;
  border-top: 0.75px solid hsla(0, 0%, 100%, 1);
  border-right: 0.75px solid hsla(0, 0%, 100%, 1);
  border-bottom: 0.75px solid hsla(0, 0%, 100%, 1);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: flex;
  justify-content: center;
}
.img_fixed {
  width: 100%;
  padding-top: 8px;
}
.frame_btn {
  width: 90%;
  margin: 16px 0;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.frame_btn a {
  color: white;
  border: 1px solid hsla(42, 82%, 75%, 1);
  padding: 8px 16px;
  border-radius: 10px;
  text-decoration: none;
}
.frame_btn .active {
  background-color: hsla(42, 82%, 75%, 1);
  color: black;
}
.btn_pass {
  border: 0 !important;
  font-size: 32px;
  color: hsla(42, 82%, 75%, 1) !important;
}
.cham_cham {
  color: #c4c4c4;
  font-size: 46px;
}
.footer {
  width: 100%;
  height: 100%;
  min-height: 320px;
  background-color: #1c2a3d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer_logo {
  width: 80px;
  height: 94px;
}
.frame_menu {
  width: 60%;
  display: flex;
  justify-content: center;
}
.name_menu {
  padding: 16px 32px;
}
.mxh_footer {
  width: 60%;
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 32px;
}
.text_footer {
  width: 40%;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  line-height: 28.8px;
}
.img_info:hover {
  background-color: aliceblue;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.4s ease-in-out;
  background: hsla(0, 0%, 37%, 0.7);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info_product {
  position: relative;
}
.info_product:hover .overlay {
  opacity: 1;
}
.icon_danhmuc {
  width: 56px;
  height: 56px;
}
@media (max-width: 767px) {
  .header {
    justify-content: center;
  }
  .img_logo {
    width: 56px;
    height: 56px;
  }
  .nav_menu {
    display: none;
  }
  .input_container {
    display: block;
  }
  .title_title {
    width: 60%;
  }
  .frame_gird-larger {
    grid-template-columns: auto auto;
  }
  .frame_btn {
    justify-content: center;
  }
  .frame_menu {
    width: 80%;
    text-align: center;
  }
  .text_footer {
    width: 80%;
  }
  .footer_logo {
    width: 60px;
    height: 74px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .img_logo {
    width: 76px;
    height: 76px;
  }
  .nav_item,
  .nav_item-other {
    font-size: 18px;
  }
  .frame_gird-larger {
    grid-template-columns: auto auto auto;
  }
  .frame_btn {
    justify-content: center;
  }
  .frame_menu {
    width: 80%;
  }
  .footer_logo {
    width: 70px;
    height: 84px;
  }
  .icon_danhmuc {
    display: none;
  }
}
@media (min-width: 1024px) {
  .icon_danhmuc {
    display: none;
  }
}
